#@layout() #define css()
<style type="text/css">
  .switchery-item {
    padding-bottom: 10px;
  }

  .switchery-item .switchery-small {
    margin-top: -2px;
    margin-right: 10px;
  }
</style>
#end #define content()
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>
              page settings
              <small
                data-toggle="tooltip"
                title=""
                data-placement="right"
                data-trigger="hover"
                ><i class="nav-icon far fa-question-circle"></i
              ></small>
              <small> front page / page / page settings</small>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card card-outline card-primary">
      <!-- form start -->
      <form class="form-setting" autocomplete="off" id="optionForm">
        <div class="card-body">
          <h4 class="form-header">Comment function</h4>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-6">
              <div class="switchery-item">
                <input type="checkbox" class="switchery"
                data-for="page_comment_enable"
                #checkedIf(option("page_comment_enable","true"))>
                <input
                  type="hidden"
                  id="page_comment_enable"
                  name="page_comment_enable"
                />
                Open the comment function
              </div>
              <div class="switchery-item">
                <input type="checkbox" class="switchery"
                data-for="page_comment_unlogin_enable"
                #checkedIf(option("page_comment_unlogin_enable"))>
                <input
                  type="hidden"
                  id="page_comment_unlogin_enable"
                  name="page_comment_unlogin_enable"
                />
                Allowing unless login users to publish comments
              </div>
              <div class="switchery-item">
                <input type="checkbox" class="switchery"
                data-for="page_comment_review_enable"
                #checkedIf(option("page_comment_review_enable"))>
                <input
                  type="hidden"
                  id="page_comment_review_enable"
                  name="page_comment_review_enable"
                />
                Comments must be reviewed by administrator
              </div>
              <div class="switchery-item">
                <input type="checkbox" class="switchery"
                data-for="page_comment_vcode_enable"
                #checkedIf(option("page_comment_vcode_enable","true"))>
                <input
                  type="hidden"
                  id="page_comment_vcode_enable"
                  name="page_comment_vcode_enable"
                />
                Enable review verification code function
              </div>
            </div>
          </div>

          <h4 class="form-header">Comment email notification administrator</h4>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Open up</label>
            <div class="col-sm-6">
              <input type="checkbox" class="switchery"
              data-for="page_comment_email_notify_enable"
              #checkedIf(option("page_comment_email_notify_enable"))>
              <input
                type="hidden"
                id="page_comment_email_notify_enable"
                name="page_comment_email_notify_enable"
              />
              <p class="text-muted">
                Please first
                <a href="#(CPATH)/admin/setting">[Conventional settings]</a>
                Fill in the administrator mailbox.
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">mail title</label>
            <div class="col-sm-6">
              <input
                type="input"
                class="form-control"
                placeholder="For example: your article#('#(page.title ??)')Someone published a comment~~~"
                name="page_comment_email_notify_title"
                value="#option('page_comment_email_notify_title')"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">content of email</label>
            <div class="col-sm-6">
              <textarea
                rows="3"
                class="form-control"
                placeholder="例如：评论的id是：#('#(comment.id)')，评论的内容是：#('#(comment.content)')"
                name="page_comment_email_notify_template"
              >
#option('page_comment_email_notify_template')</textarea
              >
              <p class="text-muted">
                Please first
                <a href="#(CPATH)/admin/setting/connection">[communication]</a>
                It can only be used after opening the mail function.
              </p>
            </div>
          </div>

          <h4 class="form-header">Comment SMS notification administrator</h4>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Open up</label>
            <div class="col-sm-6">
              <input type="checkbox" class="switchery"
              data-for="page_comment_sms_notify_enable"
              #checkedIf(option("page_comment_sms_notify_enable"))>
              <input
                type="hidden"
                id="page_comment_sms_notify_enable"
                name="page_comment_sms_notify_enable"
              />
              <p class="text-muted">
                Please first
                <a href="#(CPATH)/admin/setting">[Conventional settings]</a>
                Fill in the administrator's mobile phone number.
              </p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >Notification SMS template</label
            >
            <div class="col-sm-6">
              <textarea
                rows="2"
                class="form-control"
                placeholder="..."
                name="page_comment_sms_notify_template"
              >
#option('page_comment_sms_notify_template')</textarea
              >
              <p class="text-muted">
                Please first
                <a href="#(CPATH)/admin/setting/connection">[communication]</a>
                Open the SMS function, Fill in the SMS template ID of Alibaba
                Cloud or Tencent Cloud here. The SMS template cannot have any
                parameters.
              </p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">SMS signature</label>
            <div class="col-sm-6">
              <input
                type="input"
                class="form-control"
                placeholder="Only some service providers need SMS signatures"
                name="page_comment_sms_notify_sign"
                value="#option('page_comment_sms_notify_sign')"
              />
              <p class="text-muted">
                Please fill in the SMS signature of Alibaba Cloud or Tencent
                Cloud.
              </p>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <div class="offset-sm-2 col-sm-10 submit-block">
            <div class="card-submit">
              <button type="submit" class="btn btn-primary">submit</button>
            </div>
          </div>
        </div>
        <!-- /.card-footer -->
      </form>
    </div>
  </div>
</section>
#end
