#@layout()
#define css()
<style type="text/css">
    .switchery-item {
        padding-bottom: 10px;
    }

    .switchery-item .switchery-small {
        margin-top: -2px;
        margin-right: 10px;
    }
</style>
#end

#define content()

    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                Functional settings
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> front page / Product / Functional settings</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>


    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">

                    <!-- form start -->
                    <form class=" form-setting" autocomplete="off" id="optionForm">
                        <div class="card-body">


                            <h4 class="form-header">Comment function</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-6">
                                    <div class="switchery-item">
                                        <input type="checkbox" class="switchery" data-for="product_comment_enable"
                                               #checkedIf(option("product_comment_enable","true"))>
                                        <input type="hidden" id="product_comment_enable" name="product_comment_enable">
                                        Open the comment function
                                    </div>
                                    <div class="switchery-item">
                                        <input type="checkbox" class="switchery"
                                               data-for="product_comment_unlogin_enable" #checkedIf(option("product_comment_unlogin_enable"))>
                                        <input type="hidden" id="product_comment_unlogin_enable"
                                               name="product_comment_unlogin_enable"> Allowing unless login users to publish comments
                                    </div>
                                    <div class="switchery-item">
                                        <input type="checkbox" class="switchery"
                                               data-for="product_comment_review_enable" #checkedIf(option("product_comment_review_enable"))>
                                        <input type="hidden" id="product_comment_review_enable"
                                               name="product_comment_review_enable"> Comments must be reviewed by administrator
                                    </div>
                                    <div class="switchery-item">
                                        <input type="checkbox" class="switchery" data-for="product_comment_vcode_enable"
                                               #checkedIf(option("product_comment_vcode_enable","true"))>
                                        <input type="hidden" id="product_comment_vcode_enable"
                                               name="product_comment_vcode_enable"> Enable review verification code function
                                    </div>
                                </div>
                            </div>


                            <h4 class="form-header">Comment email notification administrator</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Open up</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" class="switchery"
                                           data-for="product_comment_email_notify_enable"
                                           #checkedIf(option("product_comment_email_notify_enable"))>
                                    <input type="hidden" id="product_comment_email_notify_enable"
                                           name="product_comment_email_notify_enable">
                                    <p class="text-muted"> Please first <a href="#(CPATH)/admin/setting">[Conventional settings]</a> Fill in the administrator mailbox.
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">mail title</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="For example: your product#('#(product.title ??)')Someone published a comment~~~"
                                           name="product_comment_email_notify_title"
                                           value="#option('product_comment_email_notify_title')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Notify the email template</label>
                                <div class="col-sm-6">
                                    <textarea rows="3" class="form-control" placeholder="..."
                                              name="product_comment_email_notify_template">#option('product_comment_email_notify_template')</textarea>
                                    <p class="text-muted"> Please first <a href="#(CPATH)/admin/setting/connection">[communication]</a> It can only be used after opening the mail function.
                                    </p>
                                </div>
                            </div>


                            <h4 class="form-header">Comment SMS notification administrator</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Open up</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" class="switchery"
                                           data-for="product_comment_sms_notify_enable"
                                           #checkedIf(option("product_comment_sms_notify_enable"))>
                                    <input type="hidden" id="product_comment_sms_notify_enable"
                                           name="product_comment_sms_notify_enable">
                                    <p class="text-muted"> Please first <a href="#(CPATH)/admin/setting">[Conventional settings]</a> Fill in the administrator's mobile phone number.
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Notification SMS template</label>
                                <div class="col-sm-6">
                                    <textarea rows="2" class="form-control" placeholder="..."
                                              name="product_comment_sms_notify_template">#option('product_comment_sms_notify_template')</textarea>
                                    <p class="text-muted">
                                        Please first <a href="#(CPATH)/admin/setting/connection">[communication]</a> Turn on the SMS function here. Fill in the SMS template ID of Alibaba Cloud or Tencent Cloud. The SMS template cannot have any parameters.
                                    </p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">SMS signature</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="Only some service providers need SMS signatures"
                                           name="product_comment_sms_notify_sign"
                                           value="#option('product_comment_sms_notify_sign')">
                                    <p class="text-muted"> Please fill in the SMS signature of Alibaba Cloud or Tencent Cloud.</p>
                                </div>
                            </div>


                            <h4 class="form-header">Product search function</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Open up</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" class="switchery"
                                           data-for="product_search_enable"
                                           #checkedIf(option("product_search_enable","true"))>
                                    <input type="hidden" id="product_search_enable"
                                           name="product_search_enable">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">search engine</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="product_search_engine">
                                        <option value="sql" #selectedIf(option(
                                        'product_search_engine') == 'sql')>Default (database SQL search)</option>
                                        <option value="lucene" #selectedIf(option(
                                        'product_search_engine') == 'lucene')>Lucene</option>
                                        <option value="es" #selectedIf(option(
                                        'product_search_engine') == 'es')>ElasticSearch</option>
                                        <option value="aliopensearch" #selectedIf(option(
                                        'product_search_engine') == 'aliopensearch')>Alibaba Cloud Opensearch</option>
                                    </select>
                                    <p class="text-muted"> Attention: Choose ElasticSearch or OpenSearch You need to fill in the corresponding server configuration below.</p>
                                </div>
                            </div>

                            <h4 class="form-header">ElasticSearch server configuration</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">server address</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="Please fill in the IP address or domain name of Elasticsearch"
                                           name="product_search_es_host"
                                           value="#option('product_search_es_host')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Server port number</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="And the port number (default value: 9200)"
                                           name="product_search_es_port"
                                           value="#option('product_search_es_port')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Certification account</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="Elasticsearch server account"
                                           name="product_search_es_username"
                                           value="#option('product_search_es_username')">
                                    <p class="text-muted">If the server is not configured, do not fill in any content.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">password</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="And password"
                                           name="product_search_es_password"
                                           value="#option('product_search_es_password')">
                                    <p class="text-muted">If the server is not configured, do not fill in any content.</p>
                                </div>
                            </div>


                            <h4 class="form-header">Alibaba Cloud Opensearch configuration</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">accesskey</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="Your Alibaba Cloud's Access Key ID"
                                           name="product_search_aliopensearch_accesskey"
                                           value="#option('product_search_aliopensearch_accesskey')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Key Secret</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="Ali Cloud Access Key ID corresponding Access Key Secret"
                                           name="product_search_aliopensearch_secret"
                                           value="#option('product_search_aliopensearch_secret')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Application Name appName</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="You created in Alibaba Cloud OpenSearch Application Name"
                                           name="product_search_aliopensearch_appname"
                                           value="#option('product_search_aliopensearch_appname')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">OpenSearch 的 API 域名</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="E.g: http://opensearch-cn-qingdao.aliyuncs.com"
                                           name="product_search_aliopensearch_host"
                                           value="#option('product_search_aliopensearch_host')">
                                    <p class="text-muted">If JPress runs the server and Opensearch in both Alibaba Cloud's server, it is recommended to fill in the inner network domain name (better performance), otherwise please fill in the public network domain name.</p>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Automatic synchronous database is configured</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" class="switchery"
                                           data-for="product_search_aliopensearch_autosync"
                                           #checkedIf(option("product_search_aliopensearch_autosync"))>
                                    <input type="hidden" id="product_search_aliopensearch_autosync"
                                           name="product_search_aliopensearch_autosync">
                                    <p class="text-muted">Can't configure, please click <a href="https://help.aliyun.com/document_detail/29123.html" target="_blank">here</a> Visit Alibaba Cloud to help documents.</p>

                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="offset-sm-2 col-sm-10 submit-block">
                                <div class="card-submit">
                                    <button type="submit" class="btn btn-primary">submit</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>

    </section>

#end
