#@layout() #define script()
<script src="#(CPATH)/static/components/sortable/Sortable.min.js"></script>

<script>
  $(".submitBtn").on("click", function () {
    doSubmit();
  });

  window.doSubmit = function () {
    ajaxSubmit("#form1", function (data) {
      toastr.success("Successful processing.");
    });
  };
</script>
#end #define content()
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
              Resume processing
              <small
                data-toggle="tooltip"
                title=""
                data-placement="right"
                data-trigger="hover"
                ><i class="nav-icon far fa-question-circle"></i
              ></small>
              <small>
                front page / Recruitment / Resume management / Resume
                processing</small
              >
            </h1>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-right admin-actions">
              <a href="#(CPATH)/admin/job/JobApply">
                <button type="button" class="btn btn-outline-secondary back">
                  <i class="fa fa-fw fa-arrow-left"></i> return
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid"></div>
  <div class="card card-primary card-outline">
    <!-- /.card-body -->
    <div class="card-body">
      <div class="row invoice-info">
        <div class="col-sm-3 invoice-col">
          <p>user name:#(jobApply.user_name ??)</p>
          <p>Application position:#(job.title ??)</p>
          <p>
            cellphone number:#(jobApply.mobile_area ??) #(jobApply.mobile ??)
          </p>
          <p>date of birth:#date(jobApply.birthday ??,"yyyy-MM-dd")</p>
        </div>
        <!-- /.col -->

        <div class="col-sm-3 invoice-col">
          <p>Mail:#(jobApply.email ??)</p>
          <p>
            gender:#if(jobApply.gender ?? == 0) male #else if(jobApply.gender ??
            == 1) 女 #end
          </p>
          <p>experience:#(jobApply.work_years ??)year</p>

          <p>
            Education:#if(jobApply.education ?? == 0)other #else
            if(jobApply.education ?? == 1)Junior high school and below #else
            if(jobApply.education ?? == 2)Technical secondary school/Medium
            #else if(jobApply.education ?? == 3)high school #else
            if(jobApply.education ?? == 4)College #else if(jobApply.education ??
            == 5)Undergraduate #else if(jobApply.education ?? == 6)master #else
            if(jobApply.education ?? == 7)PhD #end
          </p>
        </div>
        <!-- /.col -->
        <div class="col-sm-3 invoice-col">
          <p>Recommended code:#(jobApply.referral_code ??)</p>
          <p>Recent work company:#(jobApply.last_company ??)</p>
          <p>
            Whether it has been dealt with:#if(jobApply.with_disposed ??) Yes
            #else no #end
          </p>
        </div>
        <!-- /.col -->
        <!-- /.col -->
        <div class="col-sm-3 invoice-col"></div>
        <div class="col-sm-3 invoice-col"></div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card card-outline">
      <h4 class="form-table-header">Resume processing</h4>

      <!-- /.card-body -->
      <div class="card-body p-0">
        <form
          action="#(CPATH)/admin/job/applyResult/#(jobApply.id ??)"
          method="post"
          class="ajaxSubmit"
          id="form1"
        >
          <div class="form-group" style="width: 40%; margin-left: 20px">
            <textarea
              rows="3"
              name="disposedContent"
              class="form-control"
              placeholder="Give the processing opinion..."
            >
#(jobApply.disposed_content ??)</textarea
            >
          </div>

          <div class="card-footer row">
            <div class="col-sm-6">
              <div class="btn-group">
                <a
                  target="_blank"
                  href="#(jobApply.cv_path ??)"
                  class="btn btn-outline-primary btn-sm"
                >
                  <i class="fa fa-fw fa-plus"></i>View resume
                </a>

                <a
                  target="_blank"
                  href="#(jobApply.attachment ??)"
                  class="btn btn-outline-primary btn-sm"
                  style="margin-left: 10px"
                >
                  <i class="fa fa-fw fa-plus"></i>View attachments
                </a>
                <input
                  type="button"
                  value="Submit handling opinions"
                  style="margin-left: 10px"
                  class="btn btn-primary btn-sm submitBtn"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
#end
