#include("layout.html") #@layout() #define content()
<div class="form-setting">
  <div class="form-group row">
    <div class="col-sm-12">
      Seeing this page means that the information you just filled in the
      database user name, password and other information is incorrect, causing
      JPress to fail to connect to the database server.
      <br />
      <br />
      <br />
      Are you sure the MySQL database version is 5.6 or above? <br />
      Are you sure that the database user name and password are correct? <br />
      Are you sure the host name and port number of input is correct? <br />
      Do you determine that the database server is running? <br />
      <br />
      <br />

      If you don't understand what this means, you can contact your website
      service provider.Or visit<a href="http://www.jpress.cn" target="_blank"
        >JPress official website</a
      >Get more help.
      <br />
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-4 col-xs-4" style="padding-top: 15px">
      <a
        href="#(CPATH)/install/step2"
        class="btn btn-primary btn-block btn-flat"
      >
        Retry
      </a>
    </div>
  </div>
</div>
#end
