#include("layout.html") #@layout() #define content()
<form
  class="form-setting"
  action="#(CPATH)/install/gotoStep3"
  method="post"
  id="form"
>
  <div class="form-group row">
    <div class="col-sm-12">
      Please fill in the relevant information of the database.
    </div>
  </div>
  <h4 class="form-header" style="margin-top: 20px"></h4>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">data storage name</label>
    <div class="col-sm-9">
      <input
        type="input"
        class="form-control"
        placeholder="Which database do you want to install Jpress to?"
        name="dbName"
        value="#(JPRESS_DB_NAME ??)"
      />
      <p class="text-muted">
        Note: At present, only MySQL 5.6 or 5.7 version is currently supported.
      </p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">username</label>

    <div class="col-sm-9">
      <input
        type="input"
        class="form-control"
        placeholder="database username"
        name="dbUser"
        value="#(JPRESS_DB_USER ??)"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">password</label>

    <div class="col-sm-9">
      <input
        type="input"
        class="form-control"
        placeholder="... Password"
        name="dbPwd"
        value="#(JPRESS_DB_PASSWORD ??)"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <label>
        <input type="checkbox" name="dbAutoCreate" value="true" />
        When the database does not exist, it will be created automatically
        (requiring the user to have relevant permissions).
      </label>
    </div>
  </div>

  <h4 class="form-header">Host information</h4>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Host</label>
    <div class="col-sm-9">
      <input
        type="input"
        class="form-control"
        placeholder="Host or IP address"
        name="dbHost"
        value="#(JPRESS_DB_HOST ?? '127.0.0.1')"
      />
      <p class="text-muted">
        If 127.0.0.1 cannot be used, you can usually get the correct information
        from the website service provider.
      </p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">The port number</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Database port number"
        name="dbPort"
        value="#(JPRESS_DB_PORT ?? '3306')"
      />
      <p class="text-muted">MySQL The default port number is 3306 。</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3" style="padding-top: 15px">
      <a href="#(CPATH)/install" class="btn btn-default btn-block btn-flat">
        Previous
      </a>
    </div>

    <div class="col-xs-offset-6 col-xs-3" style="padding-top: 15px">
      <button
        type="button"
        id="submit"
        class="btn btn-primary btn-block btn-flat"
      >
        Next step
      </button>
    </div>
  </div>
</form>
#end #define script()
<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/components/jquery/jquery.form.min.js"></script>
<script src="#(CPATH)/static/components/bootstrap/js/bootstrap.min.js"></script>
<script>
  $("#submit").on("click", function () {
    $("#form").ajaxSubmit({
      type: "post",
      success: function (data) {
        if (data.state == "ok") {
          location.href = "#(CPATH)/install/step3";
        } else if (data.errorCode) {
          alert(data.message);
        } else {
          location.href = "#(CPATH)/install/error";
        }
      },
      error: function () {
        alert("If the system is wrong, please contact the administrator.");
      },
    });
  });
</script>
#end
