#include("layout.html") #@layout() #define content()
<div class="form-setting">
  <div class="form-group row">
    <div class="col-sm-12">
      Welcome to JPress. Before starting, Jpress needs you to provide the
      following information.<br />
      <br />
      1. Database name<br />
      2. Database user name<br />
      3. Database password<br />
      4. Database host<br />
      <br />

      We will use this information to create a database information file called
      jboot.properties. If the automatic creation fails to succeed, don't worry,
      you can open it in the text editor jboot-sample.properties , Fill in the
      database information and save it separately as jboot.properties .
      <br />
      <br />
      Most of the time, your website service provider will give you this
      information. If you have no information, you will need to contact them
      before continuing to install JPress.

      <br />
      <br />
      If you are ready, then play happily ... If you need more help, you can
      visit
      <a href="http://www.jpress.cn" target="_blank">Jpress official website</a>
      Obtain.
      <br />
      <br />
    </div>
  </div>

  <div class="row">
    <div class="offset-9 col-xs-3" style="padding-top: 15px">
      <a
        href="#(CPATH)/install/step2"
        class="btn btn-primary btn-block btn-flat"
      >
        Next step</a
      >
    </div>
  </div>
</div>
#end
