#@layout()
#define css()
<style type="text/css">
    .switchery-item {
        padding-bottom: 10px;
    }

    .switchery-item .switchery-small {
        margin-top: -2px;
        margin-right: 10px;
    }
</style>
#end

#define content()
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            Article settings
                            <small data-toggle="tooltip" title="" data-placement="right"
                                   data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                            <small> front page / article / Article settings</small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <div class="container-fluid">
        <div class="card card-outline card-primary">

            <!-- form start -->
            <form class=" form-setting" autocomplete="off" id="optionForm">
                <div class="card-body">


                    <h4 class="form-header">Comment function</h4>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-6">
                            <div class="switchery-item">
                                <input type="checkbox" class="switchery" data-for="article_comment_enable"
                                       #checkedIf(option("article_comment_enable","true"))>
                                <input type="hidden" id="article_comment_enable" name="article_comment_enable">
                                Open the comment function
                            </div>
                            <div class="switchery-item">
                                <input type="checkbox" class="switchery"
                                       data-for="article_comment_unlogin_enable" #checkedIf(option("article_comment_unlogin_enable"))>
                                <input type="hidden" id="article_comment_unlogin_enable"
                                       name="article_comment_unlogin_enable"> Allowing unless login users to publish comments
                            </div>
                            <div class="switchery-item">
                                <input type="checkbox" class="switchery"
                                       data-for="article_comment_review_enable" #checkedIf(option("article_comment_review_enable"))>
                                <input type="hidden" id="article_comment_review_enable"
                                       name="article_comment_review_enable"> Comments must be reviewed by administrator
                            </div>
                            <div class="switchery-item">
                                <input type="checkbox" class="switchery" data-for="article_comment_vcode_enable"
                                       #checkedIf(option("article_comment_vcode_enable","true"))>
                                <input type="hidden" id="article_comment_vcode_enable"
                                       name="article_comment_vcode_enable"> Enable review verification code function
                            </div>
                        </div>
                    </div>


                    <h4 class="form-header">Comment email notification administrator</h4>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Open up</label>
                        <div class="col-sm-6">
                            <input type="checkbox" class="switchery"
                                   data-for="article_comment_email_notify_enable"
                                   #checkedIf(option("article_comment_email_notify_enable"))>
                            <input type="hidden" id="article_comment_email_notify_enable"
                                   name="article_comment_email_notify_enable">
                            <p class="text-muted"> Please first <a href="#(CPATH)/admin/setting">[Conventional settings]</a> Fill in the administrator mailbox.
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">mail title</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control"
                                   placeholder="For example: your article#('#(article.title ??)')Someone published a comment~~~"
                                   name="article_comment_email_notify_title"
                                   value="#option('article_comment_email_notify_title')">
                            <p class="text-muted">Article title occupies:#('#(article.title ??)')</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">content of email</label>
                        <div class="col-sm-6">
                                    <textarea rows="3" class="form-control"
                                              placeholder="For example: The content of the article is:#('#(comment.content)')"
                                              name="article_comment_email_notify_template">#option('article_comment_email_notify_template')</textarea>
                            <p class="text-muted">
                                Please first <a href="#(CPATH)/admin/setting/connection">[communication]</a> It can only be used after opening the mail function.
                                comments:#('#(comment.content ??)')
                            </p>
                        </div>
                    </div>


                    <h4 class="form-header">Comment SMS notification administrator</h4>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Open up</label>
                        <div class="col-sm-6">
                            <input type="checkbox" class="switchery"
                                   data-for="article_comment_sms_notify_enable"
                                   #checkedIf(option("article_comment_sms_notify_enable"))>
                            <input type="hidden" id="article_comment_sms_notify_enable"
                                   name="article_comment_sms_notify_enable">
                            <p class="text-muted"> Please first <a href="#(CPATH)/admin/setting">[Conventional settings]</a> Fill in the administrator's mobile phone number.
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Notification SMS template</label>
                        <div class="col-sm-6">
                                    <textarea rows="2" class="form-control" placeholder="..."
                                              name="article_comment_sms_notify_template">#option('article_comment_sms_notify_template')</textarea>
                            <p class="text-muted"> Please first <a href="#(CPATH)/admin/setting/connection">[communication]</a>
                                Turn on the SMS function here. Fill in the SMS template ID of Alibaba Cloud or Tencent Cloud. The SMS template cannot have any parameters.
                            </p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">SMS signature</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control" placeholder="Only some service providers need SMS signatures"
                                   name="article_comment_sms_notify_sign"
                                   value="#option('article_comment_sms_notify_sign')">
                            <p class="text-muted"> Please fill in the SMS signature of Alibaba Cloud or Tencent Cloud.</p>
                        </div>
                    </div>


                    <h4 class="form-header">Article search function</h4>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Open up</label>
                        <div class="col-sm-6">
                            <input type="checkbox" class="switchery"
                                   data-for="article_search_enable"
                                   #checkedIf(option("article_search_enable","true"))>
                            <input type="hidden" id="article_search_enable"
                                   name="article_search_enable">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">search engine</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="article_search_engine">
                                <option value="sql" #selectedIf(option(
                                'article_search_engine') == 'sql')>Default (database SQL search)</option>
                                <option value="lucene" #selectedIf(option(
                                'article_search_engine') == 'lucene')>Lucene</option>
                                <option value="es" #selectedIf(option(
                                'article_search_engine') == 'es')>ElasticSearch</option>
                                <option value="aliopensearch" #selectedIf(option(
                                'article_search_engine') == 'aliopensearch')>Alibaba Cloud Opensearch</option>
                            </select>
                            <p class="text-muted">Note: Select Elasticsearch or Opensearch needs to fill in the corresponding server configuration below.</p>
                        </div>
                    </div>

                    <h4 class="form-header">ElasticSearch server configuration</h4>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">server address</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control" placeholder="Please fill in the IP address or domain name of Elasticsearch"
                                   name="article_search_es_host"
                                   value="#option('article_search_es_host')">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Server port number</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control" placeholder="And the port number (default value: 9200)"
                                   name="article_search_es_port"
                                   value="#option('article_search_es_port')">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Certification account</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control" placeholder="Elasticsearch server account"
                                   name="article_search_es_username"
                                   value="#option('article_search_es_username')">
                            <p class="text-muted">If the server is not configured, do not fill in any content.</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">password</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control" placeholder="And password"
                                   name="article_search_es_password"
                                   value="#option('article_search_es_password')">
                            <p class="text-muted">If the server is not configured, do not fill in any content.</p>
                        </div>
                    </div>


                    <h4 class="form-header">Alibaba Cloud Opensearch configuration</h4>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">accesskey</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control" placeholder="Your Alibaba Cloud's Access Key ID"
                                   name="article_search_aliopensearch_accesskey"
                                   value="#option('article_search_aliopensearch_accesskey')">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Key Secret</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control"
                                   placeholder="Access Key Secret corresponding to Alibaba Cloud Access Key ID"
                                   name="article_search_aliopensearch_secret"
                                   value="#option('article_search_aliopensearch_secret')">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Application Name AppName</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control" placeholder="The OPENSEARCH application name created in Alibaba Cloud"
                                   name="article_search_aliopensearch_appname"
                                   value="#option('article_search_aliopensearch_appname')">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Opensearch's API domain name</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control"
                                   placeholder="E.g: http://opensearch-cn-qingdao.aliyuncs.com"
                                   name="article_search_aliopensearch_host"
                                   value="#option('article_search_aliopensearch_host')">
                            <p class="text-muted">If JPRESS runs the server and Opensearch
                                All servers in the same area of Alibaba Cloud are recommended to fill in the inner network domain name (better performance), otherwise please fill in the public network domain name.</p>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Automatic synchronous database is configured</label>
                        <div class="col-sm-6">
                            <input type="checkbox" class="switchery"
                                   data-for="article_search_aliopensearch_autosync"
                                   #checkedIf(option("article_search_aliopensearch_autosync"))>
                            <input type="hidden" id="article_search_aliopensearch_autosync"
                                   name="article_search_aliopensearch_autosync">
                            <p class="text-muted">Can't configure, please click <a href="https://help.aliyun.com/document_detail/29123.html"
                                                             target="_blank">here</a> Visit Alibaba Cloud to help documents.</p>

                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="offset-sm-2 col-sm-10 submit-block">
                        <div class="card-submit">
                            <button type="submit" class="btn btn-primary">submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
    </div>

</section>
#end
