#define defaultProductCommentPage()
<div class="comment-default-block">
  #if(option("product_comment_enable","true") && product.comment_status)
  <form
    class="comment-form"
    action="#(CPATH)#(SPATH)/product/postComment"
    id="jpress-comment-form"
    method="post"
    autocomplete="off"
  >
    <input type="hidden" name="productId" value="#(product.id)" />
    <input type="hidden" name="render" value="default" />
    <input type="hidden" name="pid" id="comment-pid" />

    <div class="comment-textarea">
      <textarea
        placeholder="What is your suggestion in this product?"
        rows="4"
        name="content"
      ></textarea>
    </div>

    <div class="comment-vcode">
      #if(option("product_comment_vcode_enable","true"))
      <input
        placeholder="please enter verification code"
        autocomplete="off"
        name="captcha"
        id="comment-captcha"
      />
      <img
        class="vcode-img"
        src="#(CPATH)/commons/captcha"
        onclick="this.src='#(CPATH)/commons/captcha?d='+Math.random();"
        cdn-exclude
        id="comment-vcode"
      />
      #end
    </div>

    <button type="submit">submit</button>
    <span class="clearfix"></span>
  </form>
  #end

  <h4 class="comment-page-title" id="comments">All comments</h4>

  <div class="comment-page">
    #productCommentPage() #for(comment : commentPage.list ??)
    #include("defaultProductCommentItem.html") #end #end
  </div>

  #productCommentPaginate(anchor="comments")
  <nav class="commnet-pagination">
    <ul class="pagination justify-content-center">
      #for(page : pages)
      <li class="page-item #(page.style)">
        <a class="page-link" href="#(page.url ??)">#(page.text)</a>
      </li>
      #end
    </ul>
  </nav>
  #end
</div>
#end
